* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.4);
  background: #67b26f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4ca2cd), to(#67b26f));
  background: linear-gradient(to right, #4ca2cd, #67b26f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.winner-tag {
  display: none;
  margin: 20px;
}

.game-field {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 570px;
}

.game-card {
  cursor: pointer;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border: 2px solid transparent;
  width: 80px;
  height: 120px;
  margin: 5px;
}

.game-card--passed .game-card__inner,
.game-card--clicked .game-card__inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: white;
  font-size: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Position the front and back side */
.game-card__content--front,
.game-card__content--back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Style the front side (fallback if image is missing) */
.game-card__content--front {
  background-color: dodgerblue;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: white;
}

/* Style the back side */
.game-card__content--back {
  background: #3a6186;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#89253e), to(#3a6186));
  background: linear-gradient(to left, #89253e, #3a6186);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.start-game {
  margin-top: 20px;
  padding: 8px 12px;
  outline: none;
  border: none;
  background-color: lightblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  cursor: pointer;
}

.start-game:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.counter {
  display: none;
}
/*# sourceMappingURL=style.css.map */